<!-- About Section -->
<section class="about section" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>Hello, I'm Shahriar Konok and <span> Software Engineer and Cloud Practitioner</span></h3>
                        <p>I'm distinguished graduate from Adamjee Cantonment College and
                            Bangladesh Army University of Science and Technology,
                            where I achieved GPA of 5 in both SSC and HSC, and a commendable CGPA upon
                            graduation. My fervor for technology led me to victory in the bdapps National Hackathon 2022
                            with
                            the creation of the 'Mess Monitor' app, simplifying meal tracking for students and
                            bachelors. At
                            Shadin Lab LLC, I thrived as a Cloud Solution Developer, adeptly utilizing AWS services like
                            EC2,
                            S3, RDS, VPC, and Lambda to develop scalable applications. My commitment to continuous
                            learning is
                            evident through my specialized training in Cloud Management at the BASIS Institute of
                            Technology and
                            Management. My noteworthy involvement in government projects, such as managing beneficiary
                            training
                            for Rural Cooperative Societies (RDCD) using Laravel Microservices, underscores my
                            versatility and
                            dedication. Now, I eagerly seek new challenges in the tech industry, poised to leverage my
                            expertise
                            for impactful contributions.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <a href="https://www.linkedin.com/in/shah-konok/">
                                    <p>LinkedIn <span>Shahriar Konok</span></p>
                                </a>
                            </div>
                            <div class="info-item padd-15">
                                <a href="https://srkonok.github.io">
                                    <p>Website : <span>srkonok.github.io</span></p>
                                </a>
                            </div>
                            <div class="info-item padd-15">
                                <a href="mailto:srkonok20@gmail.com">
                                    <p>Email : <span>srkonok20@gmail.com</span></p>
                                </a>
                            </div>
                            <div class="info-item padd-15">
                                <p>Degree : <span>B.Sc. Engg. in CSE</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <a href="https://wa.me/8801817848334">
                                    <p>WhatsApp : <span>+88 01817848334</span></p>
                                </a>
                            </div>

                            <div class="info-item padd-15">
                                <p>Address : <span>Nikunja-2, Dhaka-1229</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="/Shahariar_s_CV.pdf" class="btn">Download Cv</a>
                                <a href="mailto:srkonok20@gmail.com" class="btn hire-me">Email Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="skills padd-15">
                        <div class="row">
                            <div class="skill-item padd-15">
                                <h5>Cloud Management(AWS)</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 95%;"></div>
                                    <div class="skill-porcent">
                                        Excellent
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Python</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 85%;"></div>
                                    <div class="skill-porcent">
                                        Good
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>PHP/Laravel</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 70%;"></div>
                                    <div class="skill-porcent">
                                        Good
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Database(MySQL,DynamoDB)</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 90%;"></div>
                                    <div class="skill-porcent">
                                        Excellent
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>React</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 70%;"></div>
                                    <div class="skill-porcent">
                                        Intermediate
                                    </div>
                                </div>
                            </div>
                            <div class="skill-item padd-15">
                                <h5>Node.JS</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 80%;"></div>
                                    <div class="skill-porcent">
                                        Excellent
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> 2017 - 2022</h6>
                                        <h4 class="timeline-title">B.Sc. Engg. in CSE</h4>
                                        <p class="timeline-text"> <br> Bangladesh Army University of
                                            Science and
                                            technology
                                            <br> Saidpur
                                        </p>
                                        <p class="timeline-text">
                                            <i class="la la-award"></i> <strong>Achievement:</strong><br>
                                            1. Champion bdapps National Hackathon 2022<br>
                                            2. Received AWS Startup Grant $10k<br>
                                            3. Participated in ACM ICPC Preliminary Contest 2019<br>
                                        </p>

                                    </div>
                                    <!-- timeline Item End -->
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> 2014 - 2016</h6>
                                        <h4 class="timeline-title">HSC (Dhaka Board)</h4>
                                        <p class="timeline-text"> CGPA - 5 out of 5 <br> Adamjee Cantonment College
                                            <br>Dhaka </p>
                                    </div>
                                    <!-- timeline Item End -->
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> 2008 - 2011</h6>
                                        <h4 class="timeline-title">SSC (Jessore Board)</h4>
                                        <p class="timeline-text">GPA - 5 out of 5 (Board Scholarship) <br>Allardarga
                                            Secondary School
                                            <br>Kushtia
                                        </p>
                                    </div>
                                    <!-- timeline Item End -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> Dec 2024 - Present</h6>
                                        <h4 class="timeline-title">Adjunct Faculty, Ahsanullah University of Science and
                                            Technology (AUST)</h4>
                                        <p class="timeline-text">Design the course outline for CSE4267: Cloud Computing
                                            and take responsibility for conducting classes for Sections A and B.</p>
                                    </div>
                                    <!-- timeline Item End -->
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> Oct 2023 - Present</h6>
                                        <h4 class="timeline-title">Software Engineer, OrangeBD</h4>
                                        <p class="timeline-text">In October, 2023 I was involved in Government project
                                            Under Ministry
                                            of Local Government. For their Rural Co-operative Socienty(RDCD), My Team
                                            was responsible
                                            for Beneficary training management. It was contractual with Era InfoTech and
                                            OrangeBD. The
                                            project was based on Laravel Microservices. </p>
                                    </div>
                                    <!-- timeline Item End -->
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> Apr 2024 - Oct 2024
                                            (Contract)</h6>
                                        <h4 class="timeline-title">Database Administrator, Divergent Technology Ltd.
                                        </h4>
                                        <p class="timeline-text">Working in the VAS team, responsible for managing IVR
                                            and running
                                            promotional campaigns for Robi, while streamlining documentation workflows.
                                            Developing
                                            solutions using REST APIs, modern NestJS (a Node.js framework), and
                                            Postgres.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> July 2023 - Oct 2023
                                        </h6>
                                        <h4 class="timeline-title">Cloud Management Trainee, BITM</h4>
                                        <p class="timeline-text">BITM shed light on the practical applications of cloud
                                            infrastructure, where I had the pleasure of engaging with fellow cloud
                                            enthusiasts. We
                                            explored various facets, including EC2 with autoscaling and load balancing,
                                            S3 storage, EBS
                                            volumes, VPC configurations, DynamoDB databases, the seamless communication
                                            enabled by SES
                                            (Simple Email Service) and the efficiency of serverless architecture.</p>
                                    </div>
                                    <!-- timeline Item End -->
                                    <!-- timeline Item -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date"><i class="fa fa-calendar"></i> July 2022 - June 2023
                                        </h6>
                                        <h4 class="timeline-title">Solution Developer(Backend)</h4>
                                        <p class="timeline-text">After graduation I joined Shadin Lab LLC and started my
                                            journey as a
                                            Cloud Solution Developer. I built there Cloud native apps with various AWS
                                            service like EC2,
                                            S3, RDS,VPC and Lambda that was auto scalable and load balancing. </p>
                                    </div>
                                    <!-- timeline Item End -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
