<!-- Main Content -->
<div class="main-content">
  <!-- Home Section -->
  <section class="home section active" id="home">
    <div class="container">
      <div class="intro">
        <img src="images/about.jpg" alt="profile" class="shadow-dark">
        <h1>Shahriar Rahman</h1>
        <span class="iTyped"></span>
        <div class="social-links">
          <a href="https://www.facebook.com/shah.konok/"><i class="fa fa-facebook"></i></a>
          <a href="https://github.com/srkonok"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/shah-konok/"><i class="fa fa-linkedin"></i></a>
          <a href="https://wa.me/8801817848334"><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
</div>
<!-- Main Content End -->