<!-- Portfolio Section -->
<section class="portfolio section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-filter padd-15">
        <button type="button" class="active" data-filter="all">All</button>
        <button type="button" data-filter="Full-Stack">Full- Stack</button>
        <button type="button" data-filter="Backend">Backend</button>
        <button type="button" data-filter="Frontend">Frontend</button>
      </div>
    </div>
    <div class="row">
      <!-- Portfolio Item -->
      <div class="portfolio-item padd-15" data-category="Full-Stack">
        <div class="portfolio-item-inner shadow-dark">

          <div class="portfolio-img">
            <img src="images/portfolio/mess.webp" alt="Mess Monitor">
          </div></a>
          <div class="portfolio-info">

            <h4>Mess Monitor</h4>
            <a href="https://messmonitor.com">
              <div class="icon">
                <i class="fa fa-">visit</i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Portfolio Item End -->

      <!-- Portfolio Item -->
      <div class="portfolio-item padd-15" data-category="Backend">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="images/portfolio/bio.jpeg" alt="HRM">
          </div>
          <div class="portfolio-info">
            <h4>Human Resource Management</h4>
            <a href="https://site-test.hrconnectbd.com/">
              <div class="icon">
                <i class="fa fa-visit">visit</i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Portfolio Item End -->
      <!-- Portfolio Item -->
      <div class="portfolio-item padd-15" data-category="Full-Stack">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="images/portfolio/ben.webp" alt="Backend">
          </div>
          <div class="portfolio-info">
            <h4>Beneficiary Training Management </h4>
            <a href="https://service.rdcd.gov.bd/">
              <div class="icon">
                <i class="fa fa-visit">visit</i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Portfolio Item End -->
     