<!-- Service Section -->
<section class="service section" id="services">
<div class="container">
    <div class="row">
    <div class="section-title padd-15">
        <h2>Skills</h2>
    </div>
    </div>
    <div class="row">
    <!-- Service item -->
    <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-cloud"></i></div>
        <h4>Cloud Practitioner</h4>
        <p>Working with AWS cloud for past 2 years gave me the ability to scaling an applications </p>
        </div>
    </div>
    <!-- Service item End -->
    <!-- Service item -->
    <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-server"></i></div>
        <h4>Serverless Solution</h4>
        <p>Developing a site is like playing with Web. It is my great pleasure to work with your project</p>
        </div>
    </div>
    <!-- Service item End -->
    <!-- Service item -->
    <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-laptop"></i></div>
        <h4>Laravel and ExpressJs</h4>
        <p>Built rest-api with modern Framework Like ExpressJs, Laravel, Django</p>
        </div>
    </div>
    <!-- Service item End -->

    <!-- Service item -->
    <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-database"></i></div>
        <h4>Database (MySQL,DynamoDB)</h4>
        <p> In Modern Technology, Data is everything. We ensure the security to your data.</p>
        </div>
    </div>
    <!-- Service item End -->
    <!-- Service item -->
    <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-linux"></i></div>
        <h4>Linux</h4>
        <p>Proficient in Linux system administration, ensuring seamless server operations and customizations for optimal performance.</p>
        </div>
    </div>
    <!-- Service item End -->

    <!-- Service item -->
    <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-window-restore"></i></div>
        <h4>VPC</h4>
        <p>Expertise in designing and managing Virtual Private Clouds (VPC) to ensure secure and scalable network infrastructure.</p>
        </div>
    </div>
    <!-- Service Item End -->
    <!-- Service Item -->
    <!-- <div class="service-item padd-15">
        <div class="service-item-inner">
        <div class="icon"><i class="fa fa-paint-brush"></i></div>
        <h4>Logo Design</h4>
        <p>We design beautiful cost effective logo. </p>
        </div>
    </div> -->
    <!-- Service item End -->
    </div>
</div>
</section>
<!-- Service Section End -->
