<!-- Main Container -->
<div class="main-container">
    <!-- Aside Navigation -->
    <div class="aside">
      <div class="nav-toggler">
        <span></span>
      </div>
      <div class="aside-inner">
        <div class="logo">
          <a href="#">KONOK</a>
        </div>
        <ul class="nav">
          <li><a href="#home" class="active"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
          <li><a href="#services"><i class="fa fa-list"></i> Skills</a></li>
          <li><a href="#portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
          <li><a href="#blog">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="3" y1="9" x2="21" y2="9"></line>
                <line x1="3" y1="15" x2="21" y2="15"></line>
              </svg> Blog</a></li>
          <li><a href="#contact"><i class="fa fa-comments"></i> Contact</a></li>
        </ul>
    
      </div>
    </div>

    <!-- Main Content -->
    <div id="main-content"></div>
  </div>
